<div class="button-group button-group-horizontal">
    <a data-role="button" class="btn btn-facebook" data-rel="external" href="#" onclick="app.aboutView.aboutViewModel.openLink('https://www.on2t.com/mobile');">Visit our<br />Web  Site</a>
    <a data-role="button" class="btn btn-facebook" data-rel="external" href="#" onclick="app.aboutView.aboutViewModel.openLink('https://www.facebook.com/On2T-Community-581056891909769/');">Like us on<br />Facebook</a>
    <a data-role="button" class="btn btn-facebook" data-rel="external" href="#" onclick="app.aboutView.aboutViewModel.openLink('https://twitter.com/on2_T');">Follow us on<br />Twitter</a>
</div>